h1,
p {
  font-family: Lato;
}
body {
  background-image: url('https://wallpaperaccess.com/full/1540031.jpg');
  width: 100%;
  height: auto;
}

@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}
